@import "tailwindcss";
.form-container {
    
    border: 2px solid hsl(0, 5%, 88%);
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    margin: auto;
    background-color: #f8f4f4;
    margin-top: 200px;
  }
  
  .custom-form {
    display: flex;
    flex-direction: column;
  }
  
  .input-box {
    width: 100%;
    margin-bottom: 15px;
  }
    