
 @import "tailwindcss";
.form-container {
    
    border: 2px solid hsl(0, 5%, 88%);
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    margin: auto;
    background-color: #f8f4f4;
    margin-top: 200px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;

  }
  
  .custom-form {
    display: flex;
    flex-direction: column;
  }
  
  .input-box {
    width: 100%;
    margin-bottom: 15px;
  }
}